ul {
    background-color: #333333;
    border: 1px solid black;
    overflow: hidden;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 12px;
    text-decoration: none;
}

li a:link, a:visited {
    color: white;
}

main {
    margin-top: -16px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 20px;
    text-align: justify;
    box-shadow: 2px 2px 10px 2px #e2e2e2;
}

h1 {
    padding-top: 20px;
    column-span: all;
}

p {
    font-size: 14px;
    column-count: 4;
    column-rule: 2px solid black;
}

.footer {
    background-color: black;
    color: white;
    text-align: center;
    height: 55px;
    margin-top: 10px;
}
